---
import Layout from "../layouts/Layout.astro";
import Screenshot from "../assets/images/home/screenshot.png";
import IQWorldApp from "../assets/images/home/iqworldapp.avif";
import HeroOverlay from "../assets/images/home/hero-overlay.avif";
import GlassScreen from "../assets/images/home/glass-screen.avif";
import HeroBackground from "../assets/images/home/hero-background.avif";
import ResolutionRedefined from "../assets/images/home/resolution-redefined.avif";
---

<Layout header="dark">
  <main>
    <section id="hero">
      <img
        src={HeroOverlay.src}
        alt="Hero Overlay"
        class="w-full h-full object-cover -mt-72"
      />
      <img
        src={HeroBackground.src}
        alt="Hero Background"
        class="absolute top-16 left-1/2 -translate-x-1/2 w-10/12 h-full object-cover"
      />
    </section>
    <section class="bg-black text-white">
      <div class="container max-w-screen-2xl mx-auto px-20 pt-24">
        <div class="w-full h-px bg-white/20">
          <div class="w-1/5 h-px bg-white"></div>
        </div>
        <p class="font-heading text-xl font-light mt-12">WHY CAN ?</p>
        <h2 class="text-7xl mt-10 leading-tight">
          We're Here to Revolutionize the World of Digital Displays
        </h2>
        <div class="grid grid-cols-2 mt-24">
          <div class="flex flex-col justify-center">
            <p class="max-w-96">
              Dynamic Contrast and an IPS Panel <strong>Toughened glass</strong>
              with a viewing angle of 178 degrees. Standard 1080p High Definition
              screens available in 32", 43", and 4K screens in 55", and above sizes
              to provide a clear, crisp image.
            </p>
          </div>
          <img
            src={GlassScreen.src}
            alt="Glass Screen"
            class="w-full h-auto scale-105 -translate-y-3"
          />
        </div>
      </div>
    </section>
    <section class="bg-gray-50 text-black">
      <div class="container max-w-screen-2xl mx-auto px-20 py-24">
        <div class="w-full h-px bg-black/20">
          <div class="w-1/5 h-px bg-black"></div>
        </div>
        <p class="font-heading text-xl font-light mt-12">CAN SIGNAGE DISPLAY</p>
        <h2 class="text-7xl mt-10 leading-tight">
          Fully Autonomous, Uncompromisingly Sustainable
        </h2>
        <article
          class="grid grid-cols-2 mt-24 bg-white shadow-black/5 rounded-3xl overflow-hidden"
        >
          <div class="flex p-12 gap-16">
            <div class="h-full w-px bg-black/20 shrink-0">
              <div class="w-full h-1/2 bg-black"></div>
            </div>
            <div class="flex-1 flex flex-col justify-center">
              <h3
                class="text-xl font-heading font-normal tracking-wide mb-8 text-black"
              >
                RESOLUTION REDEFINED
              </h3>
              <div class="flex items-end gap-6 mb-4">
                <span class="text-5xl font-light text-black">16.7 M</span>
                <span class="text-xl text-gray-600 font-light mb-2"
                  >Colours</span
                >
              </div>
              <hr class="my-2 border-black/30" />
              <div class="flex items-end gap-6 mb-4 mt-4">
                <span class="text-5xl font-light text-black">380 Nits</span>
                <span class="text-xl text-gray-600 font-light mb-2"
                  >LED Brightness</span
                >
              </div>
              <p class="text-base text-black mt-8 mb-8 leading-relaxed">
                Experience the full potential of high-definition display screens
                with a myriad of benefits. Notably, these screens offer
                unparalleled advantages, starting with the production of
                exceptionally clear images at heightened resolutions. Dive into
                the world of 4K, where colors come to life with unrivaled
                crispness, rendering it ideal for professional applications.
                Plus, a superior contrast ratio ensures a brighter and more
                vivid display even from a distance. What's more, the durability
                of the panel materials guarantees a long-lasting impact. And
                when it comes to energy efficiency, LED displays lead the way,
                saving you money while also making a positive impact on the
                environment.
              </p>
              <a
                href="#"
                class="flex items-center gap-2 text-gray-700 w-64 hover:text-black transition-colors group border-b border-black/20 pb-2 pr-2 mt-2"
              >
                <span class="tracking-wide text-base font-heading font-normal"
                  >READ MORE</span
                >
                <span class="transition-transform group-hover:rotate-45 ml-auto"
                  >→</span
                >
              </a>
            </div>
          </div>
          <img
            src={ResolutionRedefined.src}
            alt="Resolution Redefined"
            class="w-full h-auto"
          />
        </article>
        <article
          class="grid grid-cols-2 mt-24 bg-white shadow-black/5 rounded-3xl overflow-hidden"
        >
          <img src={IQWorldApp.src} alt="IQ World App" class="w-full h-auto" />
          <div class="flex p-12 gap-16">
            <div class="flex-1 flex flex-col justify-center">
              <h3
                class="text-xl font-heading font-normal tracking-wide mb-8 text-black"
              >
                FEATURE RICH CONTROL CENTER
              </h3>
              <div class="flex items-end gap-6 mb-4">
                <span class="text-5xl font-light text-black">IQ World</span>
                <span class="text-xl text-gray-600 font-light mb-2"
                  >Display Screen Control App</span
                >
              </div>
              <hr class="my-2 border-black/30" />
              <p class="text-base text-black mt-8 mb-8 leading-relaxed">
                Introducing the IQ World app, a cloud-based powerhouse that
                transforms your CAN Display into a centralized control hub.
                Monitor multiple screens effortlessly from a single point,
                giving you unparalleled control. Enjoy schedule management,
                split-screen options, text scrolling, inbuilt image and video
                editing, and more. It's a suite of tools designed to enhance
                your interaction with CAN Display.
              </p>
              <a
                href="#"
                class="flex items-center gap-2 text-gray-700 w-64 hover:text-black transition-colors group border-b border-black/20 pb-2 pr-2 mt-2"
              >
                <span class="tracking-wide text-base font-heading font-normal"
                  >DOWNLOAD APK</span
                >
                <span class="transition-transform group-hover:rotate-45 ml-auto"
                  >→</span
                >
              </a>
            </div>
            <div class="h-full w-px bg-black/20 shrink-0">
              <div class="w-full h-1/2 bg-black"></div>
            </div>
          </div>
        </article>
      </div>
    </section>
    <section class="bg-black text-white">
      <div class="container max-w-screen-2xl mx-auto px-20 py-24">
        <div class="w-full h-px bg-white/20">
          <div class="w-1/5 h-px bg-white"></div>
        </div>
        <p class="font-heading text-xl font-light mt-12">
          WHICH CAN IS RIGHT FOR YOU?
        </p>
        <h2 class="text-7xl mt-10 leading-tight">
          Different Styles, For Different Spaces
        </h2>
        <div class="grid grid-cols-3 gap-8 max-w-5xl mx-auto mt-24">
          <article
            class="bg-white text-black brightness-75 hover:brightness-100 rounded-2xl p-6"
          >
            <p class="text-sm font-medium mb-px">CANLit</p>
            <p>Best and brightest</p>
            <img src={Screenshot.src} alt="CANLit" class="mt-8" />
          </article>
          <article
            class="bg-white text-black brightness-75 hover:brightness-100 rounded-2xl p-6"
          >
            <p class="text-sm font-medium mb-px">CANMount</p>
            <p>True-to-life display</p>
            <img src={Screenshot.src} alt="CANLit" class="mt-8" />
          </article>
          <article
            class="bg-white text-black brightness-75 hover:brightness-100 rounded-2xl p-6"
          >
            <p class="text-sm font-medium mb-px">CANVue</p>
            <img src={Screenshot.src} alt="CANLit" class="mt-8" />
          </article>
        </div>
      </div>
    </section>
  </main>
</Layout>
